@model HeytorCollege.ViewModels.CourseDetailData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>

        <dt>
            Teachers Count
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeachersCount)
        </dd>

        <dt>
            Students Count
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentsCount)
        </dd>

        <dt>
            Average Grade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageGrade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Course.CourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
